body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
  }

  .nav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    background-color: grey;
    top: 0;
    left: 0;
padding-top:20px;
}
  .nav a {
    display: block;
    padding: 0px 25px 25px 25px;
    color: black;
  }

  .main {
    margin-left: 160px;
  }  
  h1 {
    text-align: center;
    text-shadow: 2px 2px grey;
    text-decoration: underline;
  }
